{% extends "layout.html" %}

{% block content %}
    <h1>{{ data_key[0]|upper }}{{ data_key[1:]}} data</h1>

    <div id="chart1" class="ct-chart">Below is the data for the {{ data_key }} sensor</div>
    <a class="btn btn-primary" href="/export/{{ node_id }}/{{ data_key }}" role="button">Export CSV</a>
    <script>
        var chart = new Chartist.Line('.ct-chart', {
                series: [
                    {
                        name: '{{data_key}}',
                        data: [
                            {% for data_point in data %}
                                {
                                    meta: '{{data_key}}',
                                    x: new Date("{{ data_point.js_datetime }}"),
                                    y: {{data_point.data_entry_value}}
                                },
                            {% endfor %}
                        ]
                    }
                ]
            },
            {
                axisX: {
                    type: Chartist.FixedScaleAxis,

                    divisor: 5,
                    labelInterpolationFnc: function (value) {
                        return moment(value).format('h:mm:ss a');
                    }
                },
                axisY: {
                    low: 0,
                },
                height: "500px",
                showArea: true,
                plugins: [
                    Chartist.plugins.ctThreshold({
                        threshold: 1000
                    }),
                    Chartist.plugins.tooltip({
                        transformTooltipTextFnc: function (tooltip) {
                            var xy = tooltip.split(",");
                            return xy[1] + " - " + moment(new Date(parseInt(xy[0]))).format('h:mm:ss a');
                        }
                    })
                ]
            },
        );
    </script>


{% endblock %}